=begin
#Atman IoT

#Atman IoT Server

The version of the OpenAPI document: 3.0.1
Contact: k.khoury@k-ren.gr
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class DashboardElementControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [NewDashboardElement] :new_dashboard_element 
    # @return [DashboardElement]
    def dashboard_element_controller_create(opts = {})
      data, _status_code, _headers = dashboard_element_controller_create_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [NewDashboardElement] :new_dashboard_element 
    # @return [Array<(DashboardElement, Integer, Hash)>] DashboardElement data, response status code and response headers
    def dashboard_element_controller_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DashboardElementControllerApi.dashboard_element_controller_create ...'
      end
      # resource path
      local_var_path = '/dashboard-element'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'new_dashboard_element']) 

      # return_type
      return_type = opts[:return_type] || 'DashboardElement' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DashboardElementControllerApi#dashboard_element_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dashboard_element_controller_delete_by_id(id, opts = {})
      dashboard_element_controller_delete_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dashboard_element_controller_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DashboardElementControllerApi.dashboard_element_controller_delete_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DashboardElementControllerApi.dashboard_element_controller_delete_by_id"
      end
      # resource path
      local_var_path = '/dashboard-element/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DashboardElementControllerApi#dashboard_element_controller_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param asset_id [Float] 
    # @param user_id [Float] 
    # @param location [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<DashboardElementWithScope>]
    def dashboard_element_controller_find_by_user_id_asset_id_location(asset_id, user_id, location, opts = {})
      data, _status_code, _headers = dashboard_element_controller_find_by_user_id_asset_id_location_with_http_info(asset_id, user_id, location, opts)
      data
    end

    # @param asset_id [Float] 
    # @param user_id [Float] 
    # @param location [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DashboardElementWithScope>, Integer, Hash)>] Array<DashboardElementWithScope> data, response status code and response headers
    def dashboard_element_controller_find_by_user_id_asset_id_location_with_http_info(asset_id, user_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DashboardElementControllerApi.dashboard_element_controller_find_by_user_id_asset_id_location ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DashboardElementControllerApi.dashboard_element_controller_find_by_user_id_asset_id_location"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DashboardElementControllerApi.dashboard_element_controller_find_by_user_id_asset_id_location"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DashboardElementControllerApi.dashboard_element_controller_find_by_user_id_asset_id_location"
      end
      # resource path
      local_var_path = '/dashboard-elements/asset-id/{assetId}/user-id/{userId}/location/{location}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DashboardElementWithScope>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DashboardElementControllerApi#dashboard_element_controller_find_by_user_id_asset_id_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dashboard_element_controller_move_element_down(id, opts = {})
      dashboard_element_controller_move_element_down_with_http_info(id, opts)
      nil
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dashboard_element_controller_move_element_down_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DashboardElementControllerApi.dashboard_element_controller_move_element_down ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DashboardElementControllerApi.dashboard_element_controller_move_element_down"
      end
      # resource path
      local_var_path = '/dashboard-element/{id}/move-down'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DashboardElementControllerApi#dashboard_element_controller_move_element_down\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dashboard_element_controller_move_element_up(id, opts = {})
      dashboard_element_controller_move_element_up_with_http_info(id, opts)
      nil
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dashboard_element_controller_move_element_up_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DashboardElementControllerApi.dashboard_element_controller_move_element_up ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DashboardElementControllerApi.dashboard_element_controller_move_element_up"
      end
      # resource path
      local_var_path = '/dashboard-element/{id}/move-up'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DashboardElementControllerApi#dashboard_element_controller_move_element_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
