=begin
#Atman IoT

#Atman IoT Server

The version of the OpenAPI document: 3.0.1
Contact: k.khoury@k-ren.gr
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class DeviceEventControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param asset_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [LoopbackCount]
    def device_event_controller_count_not_viewed(asset_id, opts = {})
      data, _status_code, _headers = device_event_controller_count_not_viewed_with_http_info(asset_id, opts)
      data
    end

    # @param asset_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoopbackCount, Integer, Hash)>] LoopbackCount data, response status code and response headers
    def device_event_controller_count_not_viewed_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceEventControllerApi.device_event_controller_count_not_viewed ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DeviceEventControllerApi.device_event_controller_count_not_viewed"
      end
      # resource path
      local_var_path = '/device-events/by-asset/count-not-viewed/{assetId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'LoopbackCount' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceEventControllerApi#device_event_controller_count_not_viewed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param asset_id [Float] 
    # @param page [Float] 
    # @param count [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<DeviceEventWithRelations>]
    def device_event_controller_find(asset_id, page, count, opts = {})
      data, _status_code, _headers = device_event_controller_find_with_http_info(asset_id, page, count, opts)
      data
    end

    # @param asset_id [Float] 
    # @param page [Float] 
    # @param count [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DeviceEventWithRelations>, Integer, Hash)>] Array<DeviceEventWithRelations> data, response status code and response headers
    def device_event_controller_find_with_http_info(asset_id, page, count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceEventControllerApi.device_event_controller_find ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DeviceEventControllerApi.device_event_controller_find"
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling DeviceEventControllerApi.device_event_controller_find"
      end
      # verify the required parameter 'count' is set
      if @api_client.config.client_side_validation && count.nil?
        fail ArgumentError, "Missing the required parameter 'count' when calling DeviceEventControllerApi.device_event_controller_find"
      end
      # resource path
      local_var_path = '/device-events/assetId/{assetId}/page/{page}/count/{count}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'page' + '}', CGI.escape(page.to_s)).sub('{' + 'count' + '}', CGI.escape(count.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DeviceEventWithRelations>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceEventControllerApi#device_event_controller_find\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param event_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def device_event_controller_update_viewed_by(event_id, opts = {})
      device_event_controller_update_viewed_by_with_http_info(event_id, opts)
      nil
    end

    # @param event_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def device_event_controller_update_viewed_by_with_http_info(event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceEventControllerApi.device_event_controller_update_viewed_by ...'
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling DeviceEventControllerApi.device_event_controller_update_viewed_by"
      end
      # resource path
      local_var_path = '/device-events/mark-read/{eventId}'.sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceEventControllerApi#device_event_controller_update_viewed_by\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
