=begin
#Atman IoT

#Atman IoT Server

The version of the OpenAPI document: 3.0.1
Contact: k.khoury@k-ren.gr
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class DeviceGroupMembershipControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [DeviceGroupMembershipExcludingId] :device_group_membership_excluding_id 
    # @return [DeviceGroupMembership]
    def device_group_membership_controller_create(opts = {})
      data, _status_code, _headers = device_group_membership_controller_create_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeviceGroupMembershipExcludingId] :device_group_membership_excluding_id 
    # @return [Array<(DeviceGroupMembership, Integer, Hash)>] DeviceGroupMembership data, response status code and response headers
    def device_group_membership_controller_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceGroupMembershipControllerApi.device_group_membership_controller_create ...'
      end
      # resource path
      local_var_path = '/device-group-memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'device_group_membership_excluding_id']) 

      # return_type
      return_type = opts[:return_type] || 'DeviceGroupMembership' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceGroupMembershipControllerApi#device_group_membership_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def device_group_membership_controller_delete_by_id(id, opts = {})
      device_group_membership_controller_delete_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def device_group_membership_controller_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceGroupMembershipControllerApi.device_group_membership_controller_delete_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DeviceGroupMembershipControllerApi.device_group_membership_controller_delete_by_id"
      end
      # resource path
      local_var_path = '/device-group-memberships/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceGroupMembershipControllerApi#device_group_membership_controller_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param asset_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<DeviceGroupMembership>]
    def device_group_membership_controller_find_by_asset_id(asset_id, opts = {})
      data, _status_code, _headers = device_group_membership_controller_find_by_asset_id_with_http_info(asset_id, opts)
      data
    end

    # @param asset_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DeviceGroupMembership>, Integer, Hash)>] Array<DeviceGroupMembership> data, response status code and response headers
    def device_group_membership_controller_find_by_asset_id_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceGroupMembershipControllerApi.device_group_membership_controller_find_by_asset_id ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DeviceGroupMembershipControllerApi.device_group_membership_controller_find_by_asset_id"
      end
      # resource path
      local_var_path = '/device-group-memberships/by-asset/{assetId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DeviceGroupMembership>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceGroupMembershipControllerApi#device_group_membership_controller_find_by_asset_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param device_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<DeviceGroupMembership>]
    def device_group_membership_controller_find_by_device_id(device_id, opts = {})
      data, _status_code, _headers = device_group_membership_controller_find_by_device_id_with_http_info(device_id, opts)
      data
    end

    # @param device_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DeviceGroupMembership>, Integer, Hash)>] Array<DeviceGroupMembership> data, response status code and response headers
    def device_group_membership_controller_find_by_device_id_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceGroupMembershipControllerApi.device_group_membership_controller_find_by_device_id ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling DeviceGroupMembershipControllerApi.device_group_membership_controller_find_by_device_id"
      end
      # resource path
      local_var_path = '/device-group-memberships/by-device/{deviceId}'.sub('{' + 'deviceId' + '}', CGI.escape(device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DeviceGroupMembership>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceGroupMembershipControllerApi#device_group_membership_controller_find_by_device_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
