=begin
#Atman IoT

#Atman IoT Server

The version of the OpenAPI document: 3.0.1
Contact: k.khoury@k-ren.gr
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class DeviceTypeChannelTypeControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [LoopbackCount]
    def device_type_channel_type_controller_count(device_type_id, opts = {})
      data, _status_code, _headers = device_type_channel_type_controller_count_with_http_info(device_type_id, opts)
      data
    end

    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoopbackCount, Integer, Hash)>] LoopbackCount data, response status code and response headers
    def device_type_channel_type_controller_count_with_http_info(device_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_count ...'
      end
      # verify the required parameter 'device_type_id' is set
      if @api_client.config.client_side_validation && device_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_type_id' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_count"
      end
      # resource path
      local_var_path = '/device-type-channel-type/{deviceTypeId}/count'.sub('{' + 'deviceTypeId' + '}', CGI.escape(device_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'LoopbackCount' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceTypeChannelTypeControllerApi#device_type_channel_type_controller_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelTypeExcludingIdDeviceTypeId] :channel_type_excluding_id_device_type_id 
    # @return [ChannelType]
    def device_type_channel_type_controller_create(device_type_id, opts = {})
      data, _status_code, _headers = device_type_channel_type_controller_create_with_http_info(device_type_id, opts)
      data
    end

    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelTypeExcludingIdDeviceTypeId] :channel_type_excluding_id_device_type_id 
    # @return [Array<(ChannelType, Integer, Hash)>] ChannelType data, response status code and response headers
    def device_type_channel_type_controller_create_with_http_info(device_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_create ...'
      end
      # verify the required parameter 'device_type_id' is set
      if @api_client.config.client_side_validation && device_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_type_id' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_create"
      end
      # resource path
      local_var_path = '/device-type-channel-type/{deviceTypeId}'.sub('{' + 'deviceTypeId' + '}', CGI.escape(device_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'channel_type_excluding_id_device_type_id']) 

      # return_type
      return_type = opts[:return_type] || 'ChannelType' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceTypeChannelTypeControllerApi#device_type_channel_type_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ChannelTypeExcludingNameDescriptionUnitChannelTypeDeviceTypeId>]
    def device_type_channel_type_controller_device_type_channel_categories(device_type_id, opts = {})
      data, _status_code, _headers = device_type_channel_type_controller_device_type_channel_categories_with_http_info(device_type_id, opts)
      data
    end

    # @param device_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ChannelTypeExcludingNameDescriptionUnitChannelTypeDeviceTypeId>, Integer, Hash)>] Array<ChannelTypeExcludingNameDescriptionUnitChannelTypeDeviceTypeId> data, response status code and response headers
    def device_type_channel_type_controller_device_type_channel_categories_with_http_info(device_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_device_type_channel_categories ...'
      end
      # verify the required parameter 'device_type_id' is set
      if @api_client.config.client_side_validation && device_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_type_id' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_device_type_channel_categories"
      end
      # resource path
      local_var_path = '/device-type-channel-type/{deviceTypeId}/channel-categories'.sub('{' + 'deviceTypeId' + '}', CGI.escape(device_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<ChannelTypeExcludingNameDescriptionUnitChannelTypeDeviceTypeId>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceTypeChannelTypeControllerApi#device_type_channel_type_controller_device_type_channel_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param device_type_id [Float] 
    # @param page [Float] 
    # @param count [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ChannelType>]
    def device_type_channel_type_controller_find(device_type_id, page, count, opts = {})
      data, _status_code, _headers = device_type_channel_type_controller_find_with_http_info(device_type_id, page, count, opts)
      data
    end

    # @param device_type_id [Float] 
    # @param page [Float] 
    # @param count [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ChannelType>, Integer, Hash)>] Array<ChannelType> data, response status code and response headers
    def device_type_channel_type_controller_find_with_http_info(device_type_id, page, count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_find ...'
      end
      # verify the required parameter 'device_type_id' is set
      if @api_client.config.client_side_validation && device_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_type_id' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_find"
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_find"
      end
      # verify the required parameter 'count' is set
      if @api_client.config.client_side_validation && count.nil?
        fail ArgumentError, "Missing the required parameter 'count' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_find"
      end
      # resource path
      local_var_path = '/device-type-channel-type/{deviceTypeId}/page/{page}/count/{count}'.sub('{' + 'deviceTypeId' + '}', CGI.escape(device_type_id.to_s)).sub('{' + 'page' + '}', CGI.escape(page.to_s)).sub('{' + 'count' + '}', CGI.escape(count.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<ChannelType>' 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceTypeChannelTypeControllerApi#device_type_channel_type_controller_find\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param channel_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelTypeExcludingIdNameDeviceTypeId] :channel_type_excluding_id_name_device_type_id 
    # @return [nil]
    def device_type_channel_type_controller_update_by_id(channel_type_id, opts = {})
      device_type_channel_type_controller_update_by_id_with_http_info(channel_type_id, opts)
      nil
    end

    # @param channel_type_id [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelTypeExcludingIdNameDeviceTypeId] :channel_type_excluding_id_name_device_type_id 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def device_type_channel_type_controller_update_by_id_with_http_info(channel_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_update_by_id ...'
      end
      # verify the required parameter 'channel_type_id' is set
      if @api_client.config.client_side_validation && channel_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_type_id' when calling DeviceTypeChannelTypeControllerApi.device_type_channel_type_controller_update_by_id"
      end
      # resource path
      local_var_path = '/device-type-channel-type/channel-type/{channelTypeId}'.sub('{' + 'channelTypeId' + '}', CGI.escape(channel_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'channel_type_excluding_id_name_device_type_id']) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceTypeChannelTypeControllerApi#device_type_channel_type_controller_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
